*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.4s;
}
	
	table {
		font-family: arial, sans-serif;
		width: 100%;
	}
	
	td, th {
		border: 3px solid #bbb5b5;
		text-align: left;
		padding: 8px;
		color: white;
	}

	tr:hover {background-color: rgb(157, 148, 43);}

	