body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex; /* Center sections vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make sure the body takes up the full viewport height */
}

.container {
    max-width: 800px;
    padding: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: gradient 15s ease infinite;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #07d2a6;
    width: 600px;
    height: 200px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

#pros {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    background: linear-gradient(to bottom, #d9fb00, #119c02); 
    width: 100%;
}

#cons {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 100%;
}


#changes {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    background: linear-gradient(to bottom, #00b3ff, #4000ff); 
    width: 100%;
    color: white;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
