*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.4s;
}
body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 1.3rem;
	font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
	color: rgb(255, 255, 255);
}


h1 {
	font-size: 50px;
	text-align: center;
}

main{
    display: flex;
    justify-content: space-evenly;
}
#description{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

#description>p{
    padding: 1.5rem;
    border: 2px solid #6aff00;
    border-radius: 5px;
	font-size: 24px;
}

