*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.4s;
}
body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 1.3rem;
	font-weight: bold;
}

.navbar{
	display: flex;
	height: 5rem;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;

}


.nav-menu{
	position: fixed;
	width: 94%;
	top: 6rem;
	left: 18px;
	background-color: rgb(255, 255, 255);
	font-weight: 600;

}
.nav-menu a{
	display: block;
	text-align: center;
	padding: 5px 0;
}
.nav-menu a:hover{
	background-color: rgb(0, 0, 0);
}

.hide{
	display: none;
}

/* for Desktop view */
@media screen and (min-width:600px){
	.navbar{
		justify-content: space-around;
	}
	.nav-menu{
		display: block;
		position: static;
		width: auto;
		margin-right:20px;
		background: none;
	}
	.nav-menu a{
		display: inline-block;
		padding: 15px 20px;
	}
	.nav-menu a:hover{
		background-color: rgb(0, 0, 0);
		border-radius: 5px;
	}
	.hamburger-menu{
		display: none;
	}
}
body {
	height: 100vh;
	 background: linear-gradient(90deg,#e52e71,#ff8a00);
  
  }
  
h1 {
    size: 24px;
    text-align: center;
    color: white;
}



h2{
    size: 12px;
    text-align: center;
    color: white;
	margin-left: 100px;
}

