*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.4s;
}
body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 1.3rem;
	font-weight: bold;
}
body {
	height: 100vh;
	 background: linear-gradient(90deg,#e52e71,#ff8a00);
  
  }
  
h1 {
    size: 24px;
    text-align: center;
    color: white;
}



h2{
    size: 12px;
    text-align: center;
    color: white;
	margin-left: 100px;
	margin-right: 100px;
}

