.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	text-align: center;	
	justify-content: center;
	position: absolute;
	left: 40%;
	top: 15%;
  }
  
  .title{
	color: rgb(0, 0, 0);
	font-size: 24px;
  }
  
  .card button {
	margin: 0;
	border: none;
	outline: 0;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
   a {
	text-decoration: none;
	font-size: 22px;
	color: rgb(255, 255, 255);
  }
  
  body {
	height: 100vh;
	 background: linear-gradient(90deg,#e52e71,#ff8a00);
  display: flex;
  justify-content: center;
  }


