.profile-section {
	color: white;
	display: flex;
	align-items: center;
	padding: 20px;
}

/* CSS for the profile picture */
.profile-pic {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-right: 20px;
}

/* CSS for the text below the profile picture */
.profile-text {
	font-size: 24px;
}

.social-icons1 {
	font-size: 24px;
	color: rgb(0, 68, 255); /* Change the icon color to yellow */
}

.social-icons2 {
	font-size: 24px;
	color: rgb(30, 132, 249); /* Change the icon color to yellow */
}

.social-icons3 {
	font-size: 24px;
	color: rgb(17, 207, 221); /* Change the icon color to yellow */
}

.green-text{
	color: green;

}

.side-content {
    width: 800px; /* Set a fixed width for the right-side content */
    padding: 20px; /* Add padding for spacing */
	color: white;
}

.side-content h2{
	font-size: 40px;
}

.side-content p {
	font-size: 30px;
}